<div class="giftreggie-front giftreggie-find">

    <div class="giftreggie-header">
      <h3>Find a Gift Registry</h3>
      <p>Enter a first or last name below to quickly locate a registry.</p>
    </div>
    <div class="giftreggie-body">
      <form action="?" method="get" class="gift-reggie-search-form">
        <p>
          <span>First Name</span>
          <span><input name="first-name" type="text"></span>
        </p>
        <p>
          <span>Last Name</span>
          <span><input name="last-name" type="text"></span>
        </p>
        <p>
          <span>&nbsp;</span>
          <span><input type="submit" value="Find"></span>
        </p>
      <input type="hidden" name="sid" value="fDBt2b6d5RG72eKLhTBYYw"></form>
    </div>

  <div class="giftreggie-footer">

      <p><a href="/apps/giftregistry/create?sid=fDBt2b6d5RG72eKLhTBYYw">Click here to create a registry, and click here to manage your already existing ones.</a></p>

  </div>
</div>
